Utils/DtdToXml/3A8_MS_V01_02_PurchaseOrderChangeRequest.dtd

<!-- 

RosettaNet XML Message Schema
3A8_MS_V01_02_PurchaseOrderChangeRequest.dtd (13-Aug-02 3:29:51 PM)
This document has been prepared by RosettaNet (http://www.rosettanet.org) from requirements gathered during the cluster/segment workshops and in conformance with the RosettaNet methodology.

-->

<!ENTITY % common-attributes "id CDATA #IMPLIED">

<!ELEMENT Pip3A8PurchaseOrderChangeRequest
	(fromRole, 
	 GlobalDocumentFunctionCode?, 
	 PurchaseOrder, 
	 thisDocumentGenerationDateTime, 
	 thisDocumentIdentifier, 
	 toRole)>

<!ELEMENT fromRole
	(PartnerRoleDescription)>

<!ELEMENT PartnerRoleDescription
	(ContactInformation?, 
	 GlobalPartnerRoleClassificationCode, 
	 PartnerDescription)>

<!ELEMENT ContactInformation
	(contactName?, 
	 EmailAddress?, 
	 facsimileNumber?, 
	 telephoneNumber?, 
	 PhysicalLocation?)>

<!ELEMENT contactName
	(FreeFormText)>

<!ELEMENT FreeFormText
	(#PCDATA)>

<!ATTLIST FreeFormText xml:lang CDATA #IMPLIED >

<!ELEMENT EmailAddress
	(#PCDATA)>

<!ELEMENT facsimileNumber
	(CommunicationsNumber)>

<!ELEMENT CommunicationsNumber
	(#PCDATA)>

<!ELEMENT telephoneNumber
	(CommunicationsNumber)>

<!ELEMENT GlobalPartnerRoleClassificationCode
	(#PCDATA)>

<!ELEMENT PartnerDescription
	(BusinessDescription, 
	 GlobalPartnerClassificationCode?, 
	 ContactInformation?, 
	 PhysicalLocation?)>

<!ELEMENT BusinessDescription
	(GlobalBusinessIdentifier?, 
	 GlobalSupplyChainCode?, 
	 businessName?, 
	 PartnerBusinessIdentification*, 
	 NationalBusinessTaxIdentifier?)>

<!ELEMENT GlobalBusinessIdentifier
	(#PCDATA)>

<!ELEMENT GlobalSupplyChainCode
	(#PCDATA)>

<!ELEMENT GlobalPartnerClassificationCode
	(#PCDATA)>

<!ELEMENT GlobalDocumentFunctionCode
	(#PCDATA)>

<!ELEMENT PurchaseOrder
	(AccountDescription?, 
	 comments?, 
	 ContractInformation*, 
	 DocumentReference*, 
	 FinancingTerms*, 
	 generalServicesAdministrationNumber?, 
	 GlobalGovernmentPriorityRatingCode?, 
	 GlobalPurchaseOrderChangeCode, 
	 GlobalPurchaseOrderFillPriorityCode?, 
	 GlobalPurchaseOrderTypeCode+, 
	 governmentContractIdentifier?, 
	 installAt?, 
	 isDropShip, 
	 OrderShippingInformation?, 
	 originalScheduledEvent*, 
	 ProductLineItem+, 
	 proprietaryInformation?, 
	 purchaseOrderDate?, 
	 purchaseOrderIdentifier, 
	 ReceivedQuantityInformation*, 
	 requestedEvent?, 
	 requestedShipFrom*, 
	 RevisionNumber?, 
	 scheduledEvent?, 
	 SecondaryBuyer?, 
	 shipTo?, 
	 TaxExemptStatus?, 
	 totalAmount?)>

<!ELEMENT AccountDescription
	(accountName, 
	 AccountNumber?, 
	 billTo?, 
	 CreditCard?, 
	 financedBy?, 
	 GlobalAccountClassificationCode?, 
	 prePaymentCheckNumber?, 
	 WireTransferIdentifier?)>

<!ELEMENT accountName
	(FreeFormText)>

<!ELEMENT AccountNumber
	(#PCDATA)>

<!ELEMENT billTo
	(PartnerDescription)>

<!ELEMENT businessName
	(FreeFormText)>

<!ELEMENT PartnerBusinessIdentification
	(ProprietaryBusinessIdentifier, 
	 ProprietaryDomainIdentifier, 
	 ProprietaryIdentifierAuthority?)>

<!ELEMENT ProprietaryBusinessIdentifier
	(#PCDATA)>

<!ELEMENT ProprietaryDomainIdentifier
	(#PCDATA)>

<!ELEMENT ProprietaryIdentifierAuthority
	(#PCDATA)>

<!ELEMENT PhysicalLocation
	(GlobalLocationIdentifier?, 
	 PartnerLocationIdentification*, 
	 PhysicalAddress?)>

<!ELEMENT GlobalLocationIdentifier
	(#PCDATA)>

<!ELEMENT PartnerLocationIdentification
	(ProprietaryDomainIdentifier, 
	 ProprietaryIdentifierAuthority?, 
	 ProprietaryLocationIdentifier)>

<!ELEMENT ProprietaryLocationIdentifier
	(#PCDATA)>

<!ELEMENT PhysicalAddress
	(addressLine1?, 
	 addressLine2?, 
	 addressLine3?, 
	 cityName?, 
	 GlobalCountryCode?, 
	 NationalPostalCode?, 
	 postOfficeBoxIdentifier?, 
	 regionName?, 
	 GlobalLocationIdentifier?, 
	 PartnerLocationIdentification*)>

<!ELEMENT addressLine1
	(FreeFormText)>

<!ELEMENT addressLine2
	(FreeFormText)>

<!ELEMENT addressLine3
	(FreeFormText)>

<!ELEMENT cityName
	(FreeFormText)>

<!ELEMENT GlobalCountryCode
	(#PCDATA)>

<!ELEMENT NationalPostalCode
	(#PCDATA)>

<!ELEMENT postOfficeBoxIdentifier
	(FreeFormText)>

<!ELEMENT regionName
	(FreeFormText)>

<!ELEMENT CreditCard
	(cardHolderName, 
	 creditCardIdentifier, 
	 expiryDate, 
	 GlobalCreditCardClassificationCode, 
	 ProprietaryCIDIdentifier?)>

<!ELEMENT cardHolderName
	(FreeFormText)>

<!ELEMENT creditCardIdentifier
	(ProprietaryReferenceIdentifier)>

<!ELEMENT ProprietaryReferenceIdentifier
	(#PCDATA)>

<!ELEMENT expiryDate
	(DateStamp)>

<!ELEMENT DateStamp
	(#PCDATA)>

<!ELEMENT GlobalCreditCardClassificationCode
	(#PCDATA)>

<!ELEMENT ProprietaryCIDIdentifier
	(#PCDATA)>

<!ELEMENT financedBy
	(PartnerDescription)>

<!ELEMENT GlobalAccountClassificationCode
	(#PCDATA)>

<!ELEMENT prePaymentCheckNumber
	(CheckNumber)>

<!ELEMENT CheckNumber
	(#PCDATA)>

<!ELEMENT WireTransferIdentifier
	(#PCDATA)>

<!ELEMENT comments
	(FreeFormText)>

<!ELEMENT ContractInformation
	(contractIdentifier, 
	 primaryContractWith?, 
	 secondaryContractWith?)>

<!ELEMENT contractIdentifier
	(ProprietaryDocumentIdentifier)>

<!ELEMENT ProprietaryDocumentIdentifier
	(#PCDATA)>

<!ELEMENT primaryContractWith
	(PartnerDescription)>

<!ELEMENT secondaryContractWith
	(PartnerDescription)>

<!ELEMENT DocumentReference
	(DateTimeStamp?, 
	 GlobalDocumentReferenceTypeCode, 
	 GlobalPartnerRoleClassificationCode?, 
	 LineNumber?, 
	 ProprietaryDocumentIdentifier, 
	 RevisionNumber?)>

<!ELEMENT DateTimeStamp
	(#PCDATA)>

<!ELEMENT GlobalDocumentReferenceTypeCode
	(#PCDATA)>

<!ELEMENT LineNumber
	(#PCDATA)>

<!ELEMENT RevisionNumber
	(#PCDATA)>

<!ELEMENT FinancingTerms
	(GlobalFinanceTermsCode?, 
	 PaymentTerms*)>

<!ELEMENT GlobalFinanceTermsCode
	(#PCDATA)>

<!ELEMENT PaymentTerms
	(Discounts*, 
	 GlobalPaymentConditionCode?, 
	 netTermsDay?, 
	 netTermsDays?, 
	 percentDue?)>

<!ELEMENT Discounts
	(discountDay?, 
	 discountDays?, 
	 discountPercent?)>

<!ELEMENT discountDay
	(DayOfMonth)>

<!ELEMENT DayOfMonth
	(#PCDATA)>

<!ELEMENT discountDays
	(CountableAmount)>

<!ELEMENT CountableAmount
	(#PCDATA)>

<!ELEMENT discountPercent
	(PercentAmount)>

<!ELEMENT PercentAmount
	(#PCDATA)>

<!ELEMENT GlobalPaymentConditionCode
	(#PCDATA)>

<!ELEMENT netTermsDay
	(DayOfMonth)>

<!ELEMENT netTermsDays
	(CountableAmount)>

<!ELEMENT percentDue
	(PercentAmount)>

<!ELEMENT generalServicesAdministrationNumber
	(ProprietaryDocumentIdentifier)>

<!ELEMENT GlobalGovernmentPriorityRatingCode
	(#PCDATA)>

<!ELEMENT GlobalPurchaseOrderChangeCode
	(#PCDATA)>

<!ELEMENT GlobalPurchaseOrderFillPriorityCode
	(#PCDATA)>

<!ELEMENT GlobalPurchaseOrderTypeCode
	(#PCDATA)>

<!ELEMENT governmentContractIdentifier
	(ProprietaryDocumentIdentifier)>

<!ELEMENT installAt
	(PartnerDescription)>

<!ELEMENT isDropShip
	(AffirmationIndicator)>

<!ELEMENT AffirmationIndicator
	(#PCDATA)>

<!ELEMENT OrderShippingInformation
	(CarrierInformation?, 
	 GlobalFreeOnBoardCode?, 
	 GlobalShipmentTermsCode?, 
	 GlobalShippingServiceLevelCode?, 
	 GlobalSpecialFulfillmentRequestCode*, 
	 packListRequirements?, 
	 SpecialHandlingInstruction?)>

<!ELEMENT CarrierInformation
	(accountIdentifier?, 
	 GlobalCarrierCode)>

<!ELEMENT accountIdentifier
	(ProprietaryReferenceIdentifier)>

<!ELEMENT GlobalCarrierCode
	(#PCDATA)>

<!ELEMENT GlobalFreeOnBoardCode
	(#PCDATA)>

<!ELEMENT GlobalShipmentTermsCode
	(#PCDATA)>

<!ELEMENT GlobalShippingServiceLevelCode
	(#PCDATA)>

<!ELEMENT GlobalSpecialFulfillmentRequestCode
	(#PCDATA)>

<!ELEMENT packListRequirements
	(FreeFormText)>

<!ELEMENT SpecialHandlingInstruction
	(GlobalSpecialHandlingCode*, 
	 specialHandlingText?)>

<!ELEMENT GlobalSpecialHandlingCode
	(#PCDATA)>

<!ELEMENT specialHandlingText
	(FreeFormText)>

<!ELEMENT originalScheduledEvent
	(TransportationEvent)>

<!ELEMENT TransportationEvent
	(DateStamp, 
	 GlobalTransportEventCode)>

<!ELEMENT GlobalTransportEventCode
	(#PCDATA)>

<!ELEMENT ProductLineItem
	(buyerLineItem?, 
	 comments?, 
	 ContractInformation*, 
	 countryOfOrigin?, 
	 CustomerInformation*, 
	 DocumentReference*, 
	 expediteReferenceIdentifier?, 
	 GlobalActionCode, 
	 GlobalProductUnitOfMeasureCode, 
	 GlobalPurchaseOrderFillPriorityCode?, 
	 installAt?, 
	 isDropShip, 
	 LineNumber, 
	 OrderQuantity, 
	 OrderShippingInformation?, 
	 originalScheduledEvent*, 
	 ProductIdentification, 
	 ProductSubLineItem*, 
	 proprietaryInformation?, 
	 ReceivedQuantityInformation*, 
	 requestedEvent, 
	 requestedShipFrom*, 
	 requestedUnitPrice?, 
	 RevisionNumber?, 
	 scheduledEvent?, 
	 shipTo?, 
	 TaxExemptStatus?, 
	 totalLineItemAmount?)>

<!ELEMENT buyerLineItem
	(LineNumber)>

<!ELEMENT countryOfOrigin
	(GlobalCountryCode)>

<!ELEMENT CustomerInformation
	(customerProjectIdentifier?, 
	 GlobalCustomerTypeCode, 
	 PartnerDescription)>

<!ELEMENT customerProjectIdentifier
	(ProprietaryReferenceIdentifier)>

<!ELEMENT GlobalCustomerTypeCode
	(#PCDATA)>

<!ELEMENT NationalBusinessTaxIdentifier
	(BusinessTaxIdentifier, 
	 GlobalCountryCode)>

<!ELEMENT BusinessTaxIdentifier
	(#PCDATA)>

<!ELEMENT expediteReferenceIdentifier
	(ProprietaryReferenceIdentifier)>

<!ELEMENT GlobalActionCode
	(#PCDATA)>

<!ELEMENT GlobalProductUnitOfMeasureCode
	(#PCDATA)>

<!ELEMENT OrderQuantity
	(requestedQuantity, 
	 scheduledShipQuantity?)>

<!ELEMENT requestedQuantity
	(ProductQuantity)>

<!ELEMENT ProductQuantity
	(#PCDATA)>

<!ELEMENT scheduledShipQuantity
	(ProductQuantity)>

<!ELEMENT ProductIdentification
	(GlobalProductIdentifier?, 
	 PartnerProductIdentification*)>

<!ELEMENT GlobalProductIdentifier
	(#PCDATA)>

<!ELEMENT PartnerProductIdentification
	(GlobalPartnerClassificationCode, 
	 ProprietaryProductIdentifier, 
	 revisionIdentifier?)>

<!ELEMENT ProprietaryProductIdentifier
	(#PCDATA)>

<!ELEMENT revisionIdentifier
	(FreeFormText)>

<!ELEMENT ProductSubLineItem
	(buyerSubLineItem?, 
	 comments?, 
	 ContractInformation*, 
	 countryOfOrigin?, 
	 CustomerInformation*, 
	 expediteReferenceIdentifier?, 
	 GlobalActionCode, 
	 GlobalProductUnitOfMeasureCode, 
	 GlobalPurchaseOrderFillPriorityCode?, 
	 installAt?, 
	 isDropShip, 
	 OrderQuantity, 
	 OrderShippingInformation?, 
	 originalScheduledEvent*, 
	 proprietaryInformation?, 
	 ReceivedQuantityInformation*, 
	 requestedEvent, 
	 requestedShipFrom*, 
	 requestedUnitPrice?, 
	 RevisionNumber?, 
	 scheduledEvent?, 
	 shipTo?, 
	 subLineItem)>

<!ELEMENT buyerSubLineItem
	(LineNumber)>

<!ELEMENT proprietaryInformation
	(FreeFormText)>

<!ELEMENT ReceivedQuantityInformation
	(DateTimeStamp, 
	 DocumentReference*, 
	 receivedQuantity)>

<!ELEMENT receivedQuantity
	(ProductQuantity)>

<!ELEMENT requestedEvent
	(TransportationEvent)>

<!ELEMENT requestedShipFrom
	(PhysicalAddress)>

<!ELEMENT requestedUnitPrice
	(FinancialAmount)>

<!ELEMENT FinancialAmount
	(GlobalCurrencyCode, 
	 GlobalMonetaryAmountTypeCode?, 
	 InvoiceChargeTypeCode?, 
	 MonetaryAmount)>

<!ELEMENT GlobalCurrencyCode
	(#PCDATA)>

<!ELEMENT GlobalMonetaryAmountTypeCode
	(#PCDATA)>

<!ELEMENT InvoiceChargeTypeCode
	(#PCDATA)>

<!ELEMENT MonetaryAmount
	(#PCDATA)>

<!ELEMENT scheduledEvent
	(TransportationEvent)>

<!ELEMENT shipTo
	(PartnerDescription)>

<!ELEMENT subLineItem
	(LineNumber)>

<!ELEMENT TaxExemptStatus
	(isTaxExempt, 
	 TaxExemption?)>

<!ELEMENT isTaxExempt
	(AffirmationIndicator)>

<!ELEMENT TaxExemption
	(GlobalTaxExemptionCode, 
	 taxExemptionCertificationIdentifier)>

<!ELEMENT GlobalTaxExemptionCode
	(#PCDATA)>

<!ELEMENT taxExemptionCertificationIdentifier
	(ProprietaryReferenceIdentifier)>

<!ELEMENT totalLineItemAmount
	(FinancialAmount)>

<!ELEMENT purchaseOrderDate
	(DateTimeStamp)>

<!ELEMENT purchaseOrderIdentifier
	(ProprietaryDocumentIdentifier)>

<!ELEMENT SecondaryBuyer
	(PartnerDescription, 
	 secondaryBuyerPurchaseOrderIdentifier?)>

<!ELEMENT secondaryBuyerPurchaseOrderIdentifier
	(ProprietaryDocumentIdentifier)>

<!ELEMENT totalAmount
	(FinancialAmount)>

<!ELEMENT thisDocumentGenerationDateTime
	(DateTimeStamp)>

<!ELEMENT thisDocumentIdentifier
	(ProprietaryDocumentIdentifier)>

<!ELEMENT toRole
	(PartnerRoleDescription)>
